.f2lContainer {
  display: flex;
  align-items: center;
  margin-inline: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 0.5px #4444;
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
}

.f2lContainer hr {
  border: 0.5px solid #2222;
  margin-block: 1px;
}

.f2lInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.f2lCase {
  font-weight: bold;
}

.f2lIcon img {
  width: 80px;
  height: 80px;
  border: 1px solid #2222;
  border-radius: 0.25rem;
}

.f2lSubset {
  font-size: 12px;
  text-align: center;
  line-height: 1.1em;
  translate: 0 -10% 0;
}

.f2lSetupContainer {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-inline: 8px;
}

.f2lSetupHeading {
  font-weight: bold;
}

.f2lSetupBody {
}

.f2lAlgContainer {
  display: flex;
  gap: 4px;
  margin-inline: 4px;
}

.f2lBody {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-left: 1px solid #2222;
  margin-left: 0.5rem;
  flex: 3;
}

.f2lAlgBody {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.f2lAlgHeading {
  writing-mode: vertical-lr;
  text-align: center;
  transform: rotate(180deg);
  color: #222A;
  border-left: 1px solid #2222;
  margin-block-end: 2px;
  padding-left: 2px;
}

.f2lAlgDiv {
  display: flex;
  align-items: center;
  gap: 4px;
}

.f2lAlgCat {
  font-weight: bold;
}

.dark .f2lContainer {
  box-shadow: 0 0 2px 0.5px #bbb4;
}

.dark .f2lContainer hr {
  border: 0.5px solid #ddd2;
}

.dark .f2lBody {
  border-left: 1px solid #ddd4;
}

.dark .f2lAlgHeading {
  color: #dddA;
  border-left: 1px solid #ddd4;
}

.dark .f2lIcon img {
  border: 1px solid #ddd4;
}