.ollContainer {
  display: flex;
  align-items: center;
  margin-inline: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 0.5px #4444;
  padding-block: 0.25rem 0;
  padding-inline: 0.25rem;
}

.ollBody {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ollInfo {
  margin-inline: 4px;
}

.ollCase {
  font-weight: bold;
  display: inline-block;
}

.ollIcon img {
  height: 72px;
  width: 72px;
  border: 1px solid #2222;
  border-radius: 0.25rem;
  padding: 4px;
  margin: 2px;
}

.ollSubset {
  font-size: 0.8rem;
  translate: 0px -0.5px 0px;
  display: inline-block;
  margin-inline: 4px;
}

.ollSetupHeading {
  display: inline-block;
  margin-inline: 4px;
  font-weight: bold;
}
.ollSetupBody {
  display: inline-block;
}

.ollSetupContainer {
  display: flex;
}

.ollAlgContainer {
  display: flex;
  align-items: center;
}

.ollAlgHeading {
  font-weight: bold;
  margin-inline: 4px;
  display: inline-block;
}

.ollAlgBody {
  display: inline-block;
}

.dark .ollContainer {
  box-shadow: 0 0 2px 0.5px #bbb4;
}

.dark .ollIcon img {
  border: 1px solid #ddd4;
}