.pllContainer {
  display: flex;
  align-items: center;
  margin-inline: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 0.5px #4444;
  padding-block: 0.25rem 0;
  padding-inline: 0.25rem;
}

.pllBody {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.pllInfo {
  margin-inline: 4px;
}

.pllCase {
  font-weight: bold;
  display: inline-block;
}

.pllIcon img {
  height: 72px;
  width: 72px;
  border: 1px solid #2222;
  border-radius: 0.25rem;
  padding: 4px;
  margin: 2px;
}

.pllSubset {
  font-size: 0.8rem;
  translate: 0px -0.5px 0px;
  display: inline-block;
  margin-inline: 4px;
}

.pllSetupHeading {
  display: inline-block;
  margin-inline: 4px;
  font-weight: bold;
}
.pllSetupBody {
  display: inline-block;
}

.pllSetupContainer {
  display: flex;
}

.pllAlgContainer {
  display: flex;
  align-items: center;
}

.pllAlgHeading {
  font-weight: bold;
  margin-inline: 4px;
  display: inline-block;
}

.pllAlgBody {
  display: inline-block;
}

.dark .pllContainer {
  box-shadow: 0 0 2px 0.5px #bbb4;
}

.dark .pllIcon img {
  border: 1px solid #ddd4;
}