.App {
  
}

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kanit', sans-serif;
  line-height: 1.2em;
  font-size: 0.9rem;
  color: #222;
}
table {
  margin-left: 8px;
}
td {
  padding-left: 4px;
  padding-right: 4px;
  max-width: 70vw;
}
img {
  margin: 8px;
  height: 72px;
  width: 72px;
}
.sub {
  font-size: 0.8rem;
  translate: 0px -0.5px 0px;
  display: inline-block;
}
.set {
  font-weight: bold;
}
p {
  font-weight: 450;
}
td hr {
  margin: 3px 0px;
  border: 0.5px solid #4442;
}
h3 {
  margin: 16px 30px 8px 30px;
  color: #444;
}
